<header class="wrapper">
  <div class="inner">
    <h1 class="heading">TEMPLATE SITE</h1>
  </div>
</header>

<style lang="scss">
  .wrapper {
    padding: 15px 16px;
    color: #fff;
    background-color: #1b1b1b;
  }

  .inner {
    max-width: 480px;
    margin: 0 auto;

    @include mq(tab) {
      max-width: 640px;
    }

    @include mq(pc) {
      max-width: 1120px;
    }
  }

  .heading {
    font-family: Quicksand, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
</style>
